{% extends "layout.html" %}
{% block content %}

<main>
    <center>
        <h1 class="content_title">
            アップされた写真は{{probability}}％の確率で{{label}}です。
        </h1>
        <img src= "{{ img_path }}" style="margin: 20px; vertical-align: bottom; width: 200px;">
        <a href="/">他の選手も予測してみる</a>
    </center>
    
    <div class="all">
        <div class="item-img"><img src="../static/player_image/bellingham.png" height="470"></div>
        <div class="items-vert">
            <div class="info">
                <div class="number">5</div>
                <div class="n-and-p">
                    <div class="name">ジュード・ベリンガム</div>
                    <div class="position">ミッドフィルダー</div>
                </div>
            </div>
            <div class="items">
                <div class="item">
                    <div class="item-body">
                        <div class="item-title">基本情報</div>
                        <p>
                            所属クラブ：レアルマドリード<br>
                            国籍：イングランド<br>
                            代表：イングランド代表<br>
                            生年月日：2003年6月27日<br>
                            身長：186cm<br>
                            体重：75kg<br>
                            利き足：右足
                        </p>
                    </div>
                </div><!-- /.item -->
                <div class="item">
                    <div class="item-p-body">
                        <div class="item-title">プレースタイル</div>
                        <p>
                            フィジカルの強さを活かしつつもテクニックに長けた選手<br>
                            弱冠二十歳でありながら、そのプレーはベテランの風格すら感じさせる。
                            ここぞというときに点を取ってくれる非常に勝負強いプレイヤーだ！
                            そのテクニックから未来のバロンドーラ―と言われている。
                        </p>
                    </div>
                </div><!-- /.item -->
            </div><!-- /.items -->
        </div>
    </div>
    <div class="details">
        <div class="detail-item">
            <div class="item-body">
                <div class="item-title">詳細情報</div>
                <a href = "https://www.transfermarkt.com/jude-bellingham/leistungsdaten/spieler/581678">ベリンガムの今季成績(Check from here!!)</a>
                <p>
                    主にプレーするポジション：アタッキングミッドフィルダー<br>
                    市場価値：240億円(破格、世界屈指の高価格)<br>
                    所属リーグ：ラ・リーガ<br>
                    主な獲得タイトル：ゴールデンボーイ(1)、DFC-Pokal(1)<br>
                    <br>
                    豆情報：レアルマドリードでプレーすることが子どものころからの夢だったらしい。実はイン<br>
                    　　　　グランド人でラ・リーガでプレーする選手はとても貴重。
                </p>
            </div>
        </div>
        <div class="detail-item">
            <div class="movie-body">
                <div class="movie-title">ベリンガムのスーパープレイ集</div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Xv3DJfoFAJU" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    
</main>

{% endblock %}