{% extends "layout.html" %}
{% block content %}

<main>
    <h1 class="content_title">携帯からパソコンへの写真の簡単なインポート方法</h1>
    <div class="attention">
        <div class="a-title">iPhoneをお使いの方</div>
        <p>
            1. iPhoneとPCをUSBケーブルで接続してください。<br>
            2. タスクバーのフォルダをクリックすると「Apple iPhone」という項目が現れます。<br>
            <div class="import-img"><img src="../static/background_image/import2.png"></div>
        </p>
        <p>
            3. 「Apple iPhone」内の「Internal Storage」を開くと、下の写真のように「DCIM」という項目が現れます。<br>
            <div class="import-img"><img src="../static/background_image/import1.png"></div>
        </p>
        <p>
            4. 「DCIM」を開くと下のようなフォルダ構成になっており、このフォルダ内の一番下のフォルダに最新の<br>
            　　写真が入っています。、その写真をPC内に移すか、そのままファイルをアプリ内で選択することで<br>
            　　選手予測が可能となります。
            <div class="import-img"><img src="../static/background_image/import3.png"></div>
            <br>
            <br>
        </p>
        <div class="a-title">Androidをお使いの方</div>
        <p>
            1. お使いの携帯電話とPCをBluetoothでペアリングしてください。<br>
            2. PCにインポートしたい写真を選択してインポートしてください。<br>
            <br>
            Androidは他の機器との互換性が非常に優れており、このような簡単な方法でも写真のインポートが可能です。<br>
            (ちなみに、USBを使用する方法はAndroidユーザーも使用可能です。)<br>
            <br>
            <br>
        </p>
        <div class="a-title">共通のインポート方法</div>
        <p>
            その他にも、以下のような方法で予測したい選手の写真をインポートする方法があります。しかし、これらの<br>
            方法は上記のような方法に比べ、少し工数が多くなってしまうのでめんどくさく感じるかもしれません。<br>
            <br>
            ・メールでPCに送信する。(この中だったら一番おすすめ！)<br>
            ・LINEをPCで起動させ、適当なチャットに写真を送信する。<br>
            ・Googleドライブを使用し、写真をインポートする。<br>
            など
        </p>
    </div>
</main>

{% endblock %}