{% extends "layout.html" %}
{% block content %}

<main>
    <div class="rule-content">
        <div class="link-content">
            <p>
                サッカーの試合中、「この選手ってどんな選手なんだろう？」や「観戦に飽きてしまった、、」<br>
                そんな経験ありませんか？<br>
                <br>
                そんな経験がない方にもある方にも、もっとサッカー観戦を楽しめるアプリを紹介します！！<br>
                このアプリさえあれば、試合中の疑問やプレーが止まっている時間の暇つぶしができちゃいます！！<br>
                <br>
                使い方は簡単！写真を撮ってアップロードするだけ！<br>
                試合中の写真やネットで検索した選手の顔写真からすぐにせわしい選手情報が見れます<br>
                それだけでなく、その選手のスーパープレイやちょっとした面白情報まで網羅してます！！<br>
                <br>
                サッカーのルールを知りたい方は<a href="/rule">こちら</a>から！
            </p>
        </div>
    </div>

    <h1 class="content_title">さっそくサッカー選手の写真を入力！</h1>
    <div class="content">
        <form action = "/upload" method="post" enctype="multipart/form-data">
            <p><input type="file" id = "upload_file" name = "upload_file" multiple="multiple" class="form_control"></p>
            <div class="upload_btn">
                <input type="submit" value="送信">
            </div>
        </form>
    </div>
</main>

{% endblock %}