{% extends "layout.html" %}
{% block content %}

<main>
    <h1 class="content_title">サッカーとは？</h1>
    <div class="rule-content">
        <div class="rule-content-b">
            <p>
                <b>■歴史</b><br>
                <br>
                サッカー発祥の歴史として一番有名な説が「イングランド発祥説」です。<br>
                8世紀頃のイングランドでは、戦争で敗れた敵軍の将軍の首を切り落とし、勝利を祝っていました。それが大衆の間に広まり、首の代わりにボールを使った「遊び」と「祭り」が誕生。その遊びがサッカーの起源となったといわれています。<br>
                <br>
                これによりサッカーが生まれ、19世紀にルール化がスタート。イングランドでルール化された近代サッカーは産業革命によってイギリスの船乗りや商人たちが世界中に広め、世界のさまざまな国でプレイされるようになりました。これにより現在では、ワールドカップをはじめとした世界的な大会が行われるようになり、世界一のスポーツとなっています。<br>
                <br>
                <b>■基本的なルール</b><br>
                <br>
                サッカーの基本ルールは、11人に分かれた2つのチームがひとつのボールを使って互いのゴールに蹴り入れるスポーツです。制限時間内に、より多くのゴールを入れた方の勝利となります。
                また、サッカーは脚を使うスポーツのためゴールキーパー以外はピッチ内で基本的に手や腕でのボールの接触は反則となります。<br>
            </p>
        </div>
        <div class="rule-img"><img src="../static/rule_image/GettyImages-627377858.jpg"></div>
    </div>
    <!-- <div class="more-rule"> -->
    <div class="rule-content">
        <div class="rule-content-b">
            <p>
                <b>■知ればサッカーがより楽しめるルール</b><br>
                <br>
                ・オフサイド<br>
                オフサイドポジションとは、以下の3つをすべて満たした位置を指します。<br>
                ①守備側チームのフィールド内<br>
                ②ボールより守備側チームのゴールラインに近い位置<br>
                ③後方から2人目の守備側競技者よりゴールラインに近い位置<br>
                つまり、攻撃時に相手陣内で、パスを出されたタイミングで、自身の前に相手が1人しかいない場合にボールを受けてしまうと、オフサイドの反則を取られることになるのです。<br>
            </p>
        </div>
        <div class="rule-img"><img src="../static/rule_image/off_side.jpg"></div>
    </div>
        <div class="rule-content">
            <div class="rule-content-b">
                <p>
                    ・ゴールライン<br>
                    サッカーにおけるゴールラインとは、得点が入るかどうかが決まるラインのことです。ボールが完全にゴールラインを超えたときのみにゴールは認められます。また、ゴールマウスより外でゴールラインを超えた場合にはプレーが一度止まり、ゴールキックかコーナーキックからプレーが再開します。<br>
                    ちなみに、ワールドカップで有名になった「三苫の1ミリ」はほんの少しだけ、ボールがまだゴールダイン上に乗っていたためプレーが成立しました。
                </p>
            </div>
            <div class="rule-img"><img src="../static/rule_image/1mm.jpg"></div>
        </div>
        <div class="rule-content">
            <div class="rule-content-b">
                <p>
                    ・ファウル<br>
                    プレー中に相手を故意に倒したり、手を使ったりなどフィールド内で反則行為として扱われるもの。選手が悪質な行為や反則行為を行うと、審判が警告を発するためにイエローカードが提示されます。また、レッドカードが提示されることもあり、レッドカードは、一定の反則を犯した選手に対して、退場処分を示すためのものです。悪質な反則の場合については、一度の反則でレッドカードが出されることがあります。また、1試合の間にイエローカードを2枚受けると、レッドカードと同様の扱いとなります。右の写真のような場合は余裕でレッドカードが出され、一発退場です。<br>
                    ちなみに、ファウルやカードの有無に関する判定などは審判の裁量になる部分があり、しばしば誤審や疑惑の判定で審判が袋叩きにされることがあります。
                </p>
            </div>
            <div class="rule-img"><img src="../static/rule_image/faul.jpg"></div>
        </div>
        <div class="rule-content">
            <div class="rule-content-b">
                <p>
                    ・フリーキック<br>
                    フリーキックとは、相手がファウルをした、あるいは反則を犯した時に与えられる「ボールが止まった状態で、かつ相手に邪魔をされることなく蹴ることができるプレー」です。ボールが止まった状態でプレーを始められるため、味方との連携が取りやすく、大きなゴールチャンスとなるのが、このフリーキックです。<br>
                    メッシのようなフリーキックの名手ともなるとこのフリーキックが直接ゴールに関わってしまうめ、守る側も細心の注意を払いながら守備をしなければなりません。それによって隙が生まれたりするところもサッカーの面白い部分です。
                </p>
            </div>
            <div class="rule-img"><img src="../static/rule_image/freekick.jpg"></div>
        </div>
        <div class="rule-content">
            <div class="rule-content-b">
                <p>
                    ・ペナルティキック(PK)<br>
                    「ペナルティーエリア内でのファウルが犯された時、キッカーとゴールキーパーの1対1の状態でゴールから12ヤード（約10.97メートル）離れた地点にボールを置いて行われる」と決められています。このようなルールとなっているためPKを獲得することができれば、ほぼ確実にゴールを奪うことが可能です。<br>
                    ただ不思議なことに、自分が守備者側を応援している場合にPKを相手に与えてしまうと「終わった。。」という気持ちが強く、確実にPKを決められてしまうのですが、攻撃側を応援している場合には「決められるかなぁ」という不安の方が強く、しばしば外します。これは選手も同じだと思うのですが大事な試合ほどそわそわするし、よく外します。<br>
                    そして、PKを外した選手はほぼ確実に頭を抱えます。PK自体レアですが、その部分にも注目するとちょっと面白いかもしれませんよ。
                </p>
            </div>
            <div class="rule-img"><img src="../static/rule_image/penalty.jpg"></div>
        </div>
        <div class="rule-content">
            <div class="rule-content-b">
                <p>
                    ・VAR<br>
                    ビデオアシスタントレフェリーの略称です。別の場所で映像を見ながらフィールドの審判員をサポートする審判員のことで、主に「得点かどうか」、「PKかどうか」、「退場かどうか」、「警告退場の人間違い」を判断するときに使用されます。2018年から導入された割と新しいものですが、現在ではほぼすべての試合で活用されています。<br>
                    ちなみに、VARを使用するには一度プレーを中断しないといけないため、現在でもVARが必要かどうかの議論が様々な方面で議論されています。
                </p>
            </div>
            <div class="rule-img"><img src="../static/rule_image/var.jpg"></div>
        </div>
    <!-- </div> -->
</main>

{% endblock %}