{% extends "layout.html" %}
{% block content %}

<main>
    <h1 class="content_title">サッカーとは？</h1>
    <div class="rule-content">
        <div class="rule-content-b">
            <p>
                ■歴史<br>
                <br>
                サッカー発祥の歴史として一番有名な説が「イングランド発祥説」です。<br>
                8世紀頃のイングランドでは、戦争で敗れた敵軍の将軍の首を切り落とし、勝利を祝っていました。
                それが大衆の間に広まり、首の代わりにボールを使った「遊び」と「祭り」が誕生。その遊びがサッカーの起源となったといわれています。<br>
                <br>
                これによりサッカーが生まれ、19世紀にルール化がスタート。イングランドでルール化された近代サッカーは産業革命によって
                イギリスの船乗りや商人たちが世界中に広め、世界のさまざまな国でプレイされるようになりました。これにより現在では、
                ワールドカップをはじめとした世界的な大会が行われるようになり、世界一のスポーツとなっています。<br>
                <br>
                <br>
                ■基本的なルール<br>
                <br>
                サッカーの基本ルールは、11人に分かれた2つのチームがひとつのボールを使って互いのゴールに蹴り入れるスポーツです。制限時間内に、より多くのゴールを入れた方の勝利となります。
                また、サッカーは脚を使うスポーツのためゴールキーパー以外はピッチ内で基本的に手や腕でのボールの接触は反則となります。<br>
                <br>
                <br>
            </p>
        </div>
        <div class="rule-img"><img src="../static/background_image/GettyImages-627377858.jpg"></div>
    </div>
    <div class="rule-content">
        <div class="rule-content-b">
            <p>
                ■知ればサッカーがより楽しめるルール
            </p>
        </div>
    </div>
</main>

{% endblock %}