{% extends "layout.html" %}
{% block content %}

<main>
    <center>
        <h1 class="content_title">
            アップされた写真は{{probability}}％の確率で{{label}}です。
        </h1>
        <img src= "{{ img_path }}" style="margin: 20px; vertical-align: bottom; width: 200px;">
        <a href="/">他の選手も予測してみる</a>
    </center>
    
    <div class="all">
        <div class="item-img"><img src="../static/player_image/taa.png" height="470"></div>
        <div class="items-vert">
            <div class="info">
                <div class="number">66</div>
                <div class="n-and-p">
                    <div class="name">T・アレクサンダーアーノルド</div>
                    <div class="position">ディフェンダー</div>
                </div>
            </div>
            <div class="items">
                <div class="item">
                    <div class="item-body">
                        <div class="item-title">基本情報</div>
                        <p>
                            所属クラブ：リヴァプール<br>
                            国籍：イングランド<br>
                            　　　アメリカ合衆国<br>
                            代表：イングランド代表<br>
                            生年月日：1998年10月7日<br>
                            身長：175cm<br>
                            体重：72kg<br>
                            利き足：右足
                        </p>
                    </div>
                </div><!-- /.item -->
                <div class="item">
                    <div class="item-p-body">
                        <div class="item-title">プレースタイル</div>
                        <p>
                            正確無比の右足<br>
                            キック精度が異常なまでに高く、フリーキックはもちろんのことコーナーキックからでも相手のゴールを脅かす。
                            リヴァプールにて絶対的な地位を獲得しているが、守備意識が低く、やや評価は落ち気味。
                            ただ、ぜひともレアルマドリードに来てほしい。
                        </p>
                    </div>
                </div><!-- /.item -->
            </div><!-- /.items -->
        </div>
    </div>
    <div class="details">
        <div class="detail-item">
            <div class="item-body">
                <div class="item-title">詳細情報</div>
                <a href = "https://www.transfermarkt.com/trent-alexander-arnold/leistungsdaten/spieler/314353">TAAの今季成績(Check from here!!)</a>
                <p>
                    主にプレーするポジション：右サイドバック<br>
                    市場価値：110億円<br>
                    所属リーグ：プレミア・リーグ<br>
                    主な獲得タイトル：UEFA CL(1)、UEFA スーパーカップ(1)、プレミア・リーグ、<br>
                    　　　　　　　　　FIFA クラブ・ワールドカップ(1)、FAカップ(1)、EFLカップ(1)、<br>
                    　　　　　　　　　カラバオカップ(1)<br>
                    <br>
                    豆情報：名前が長すぎるせいか、「TAA」というあだ名がある。守備は課題と言われており、<br>
                    　　　　現在は適正ポジションを監督と一緒に模索している。<br>
                </p>
            </div>
        </div>
        <div class="detail-item">
            <div class="movie-body">
                <div class="movie-title">TAAの黄金の右足</div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ac08NnkWOvo" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    
</main>

{% endblock %}